/* Fonts */
/* font-family: "Bagel Fat One", system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Rubik+Bubbles&display=swap");
/* font-family: "Atma", system-ui; */
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Bagel+Fat+One&family=Rubik+Bubbles&display=swap");
/* 
#0A400C - verde oscuro
#19183B - azul oscuro
#B1AB86 - marron claro
#FEFAE0 - blanco
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.navegacion {
  display: flex;
  flex-direction: row;
  background-color: #09520c;
}
.navegacion .links {
  display: flex;
  flex-direction: row;
  align-items: start;
  vertical-align: middle;
  gap: 20px;
  padding: 10px;
}
.navegacion .links a {
  font-family: "Bagel Fat One", system-ui;
  color: #19183B;
  text-decoration: none;
}
.navegacion .areaLogo {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 20px;
  padding-left: 1480px;
}
.navegacion .areaLogo .logo {
  width: 60px;
}
.navegacion .areaLogo p {
  color: #19183B;
  font-family: "Bagel Fat One", system-ui;
}

header {
  background-color: #09520c;
}

nav ul {
  list-style: none;
}

nav li a {
  color: #FEFAE0;
}

/* Footer */
.footer {
  background-color: #09520c;
  height: 80px;
}
.footer .logo {
  width: 60px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 48px;
  font-family: "Bagel Fat One", system-ui;
  color: #19183B;
}

h2 {
  text-decoration: underline;
  font-size: 25px;
  font-family: "Bagel Fat One", system-ui;
  color: #19183B;
}

h4 {
  font-size: 14px;
  font-family: "Bagel Fat One", system-ui;
}

p {
  font-family: "Atma", system-ui;
}

label {
  font-family: "Atma", system-ui;
}

section {
  background-color: #FEFAE0;
}

section img {
  width: 160px;
}

.carta {
  width: 240px;
}
.carta .cuerpoCarta {
  background-color: #B1AB86;
}
.carta .tituloCarta {
  text-align: center;
  font-size: 16px;
  font-family: "Bagel Fat One", system-ui;
}
.carta .descCarta {
  text-align: center;
  font-family: "Atma", system-ui;
}

.principal {
  background-color: #FEFAE0;
}
.principal .banner {
  background-image: url(../medios/banner.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
}
.principal .banner .subtitulo {
  text-align: center;
  font-size: 20px;
  font-family: "Bagel Fat One", system-ui;
  color: #19183B;
}
.principal .objetivo {
  text-align: center;
}
.principal .objetivo .bloque_texto {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 18px;
}
.principal .intro {
  text-align: center;
}
.principal .ayudados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.principal {
  background-color: #FEFAE0;
}
.principal .bloque_texto {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 18px;
}
.principal .adopcion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.principal .intro {
  padding-top: 75px;
  text-align: center;
}
.principal .acordeonFAQ {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 80px;
}

/*# sourceMappingURL=main.css.map */
