@use "../generales/variables.scss" as*;

.carta {
    width: 240px;

    .cuerpoCarta {
        background: #B1AB86;
        background: linear-gradient(136deg,rgba(177, 171, 134, 1) 30%, rgba(117, 90, 9, 1) 89%);
    }

    .tituloCarta {
        @include textoCarta;
        font-size: 16px;
        font-family: $fontTitulos;
    }

    .descCarta {
        @include textoCarta;
        font-family: $fontTexto;
    }
}