@use "../generales/variables.scss" as*;

/* Header */
.navegacion {
    @include flex;
    justify-content: space-between;
    background: $verdeOscuro;
    background: linear-gradient(137deg,rgba(9, 82, 12, 1) 13%, rgba(49, 176, 102, 1) 85%);

    .links {
        @include flex;
        align-items: start;
        vertical-align: middle;
        gap: 20px;
        padding: 10px;

        a {
            font-family: $fontTitulos;
            color: $azulOscuro;
            text-decoration: none;
        }
    }

    .areaLogo {
        @include flex;
        align-items: end;
        gap: 20px;
        margin-right: 10px;

        .logo {
            width: 60px;
        }

        p {
            color: $azulOscuro;
            font-family: $fontTitulos;
        }
    }
}

/* Footer */
.footer {
    background: $verdeOscuro;
    background: linear-gradient(137deg,rgba(9, 82, 12, 1) 13%, rgba(49, 176, 102, 1) 85%);
    height: 100px;

    .logo {
        width: 60px;
    }
}