@use "../generales/variables.scss" as*;

/* Header */
.navegacion {
    @include flex;
    background-color: $verdeOscuro;

    .links {
        @include flex;
        align-items: start;
        vertical-align: middle;
        gap: 20px;
        padding: 10px;

        a {
            font-family: $fontTitulos;
            color: $azulOscuro;
            text-decoration: none;
        }
    }

    .areaLogo {
        @include flex;
        align-items: end;
        gap: 20px;
        padding-left: 1480px;

        .logo {
            width: 60px;
        }

        p {
            color: $azulOscuro;
            font-family: $fontTitulos;
        }
    }
}

header {
    background-color: $verdeOscuro;
}

nav ul {
    list-style: none;
}

nav li a {
    color: $blanco;
}
/* Footer */

.footer {
    background-color: $verdeOscuro;
    height: 80px;

    .logo {
        width: 60px;
    }
}