/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Rubik+Bubbles&display=swap'); /* font-family: "Bagel Fat One", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Bagel+Fat+One&family=Rubik+Bubbles&display=swap'); /* font-family: "Atma", system-ui; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}